<footer>
    <div class="row">
        <div class="col-lg-12 footer" style="margin-top:-30pt;">
            <span style="float:left; vertical-align:bottom; text-align: left; width: 7cm;">
				The development of GROOVE was assisted by the use of the Yourkit Java Profiler
				<p>
				<a href="http://www.yourkit.com">
					<img src="{{ "images/yjp.gif" }}" style="width: 4cm;" alt="Yourkit Profiler logo" type="image/gif">
			    </a>
				</p>	
			</span>
			<span style="float: left; vertical-align: bottom; text-align: left; width: 8cm; padding-left: 18px;">
				The <span style="font-weight: bold;">visualizations inside GROOVE</span> are built with <span style="font-weight: bold;">yFiles for Java (Swing)</span>.
				<p>
				<a href="https://www.yfiles.com/?utm_source=groove&utm_medium=web&utm_campaign=promo" target="_blank">
					<img src="images/yFiles.png" style="width: 4cm;" alt="yFiles logo" type="image/png">
				</a>
				</p>
				<p>
				<a href="https://www.yfiles.com/?utm_source=groove&utm_medium=web&utm_campaign=promo" target="_blank">yFiles</a> is your superior SDK for interactive graph visualization with automatic layout algorithms, available for web, .NET, and Java platforms.
				<br>
				Developed by <a href="https://www.yworks.com/?utm_source=groove&utm_medium=web&utm_campaign=promo" target="_blank">yWorks – the diagramming experts</a>.
				</p>
			</span>
			<span style="float:right; vertical-align:bottom; text-align: right;">
				&copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. <br />
				{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}} <br/>{% endif %}
				Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
				<p><img src="{{ "images/UT_Logo_Black_EN.bmp" }}" style="width: 5cm;" alt="University of Twente logo"/></p>
			</span>
        </div>
    </div>
</footer>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
